<div class="" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
      <form id="test" [formGroup]="requestForm">
          <mat-card>
              <h2>Borrower Details &nbsp;&nbsp;<button (click)="printPdf()" mat-stroked-button
                      color="primary">
                      <mat-icon aria-hidden="false" aria-label="Example print icon">picture_as_pdf
                      </mat-icon>&nbsp; Save Application
                  </button> </h2>

              <mat-card-content>

                  <table class="example-full-width" cellspacing="0">
                      <tr>
                          <td>
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Select Loan Product</mat-label>
                                  <!-- <mat-select [(value)]="selected"> -->
                                  <mat-select formControlName="loan_product">
                                      <mat-option *ngFor="let item of LoanProducts" value="{{ item.keyName }}">{{ item.name }}</mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </td>
                          <td>
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Disbursed By</mat-label>
                                  <!-- <mat-select [(value)]="selected"> -->
                                  <mat-select formControlName="disbursed">
                                      <mat-option value="cash">Cash</mat-option>
                                      <mat-option value="cheque">Cheque</mat-option>
                                      <mat-option value="wire_transfer">Wire Transfer</mat-option>
                                  </mat-select>
                              </mat-form-field>

                          </td>

                      </tr>
                  </table>

                  <table class="example-full-width" cellspacing="0">
                      <tr>
                          <td>
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Title</mat-label>
                                  <!-- <mat-select [(value)]="selected"> -->
                                  <mat-select formControlName="title">
                                      <mat-option value=""></mat-option>
                                      <mat-option value="Mr.">Mr. </mat-option>
                                      <mat-option value="Mrs.">Mrs. </mat-option>
                                      <mat-option value="Miss">Miss </mat-option>
                                      <mat-option value="Ms.">Ms. </mat-option>
                                      <mat-option value="Dr.">Dr. </mat-option>
                                      <mat-option value="Prof.">Prof. </mat-option>
                                      <mat-option value="Rev.">Rev. </mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </td>
                          <td>
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>First name</mat-label>
                                  <input formControlName="first_name" matInput>
                              </mat-form-field>
                          </td>
                          <td>
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Middle name</mat-label>
                                  <input formControlName="middle_name" matInput>
                              </mat-form-field>
                          </td>
                          <td>
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Last Name</mat-label>
                                  <input formControlName="last_name" matInput>
                              </mat-form-field>
                          </td>
                      </tr>
                  </table>

                  <p>
                      <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Address</mat-label>
                          <textarea matInput formControlName="address1"
                              placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Address 2 (Optional)</mat-label>
                          <textarea formControlName="address2" matInput></textarea>
                      </mat-form-field>
                  </p>



                  <table class="example-full-width" cellspacing="0">
                      <tr>

                          <td>
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Email</mat-label>
                                  <input formControlName="email" matInput>
                              </mat-form-field>
                          </td>
                          <td>
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Mobile</mat-label>
                                  <input formControlName="mobile" matInput>
                              </mat-form-field>
                          </td>
                          <td>
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Date of Birth</mat-label>
                                  <input formControlName="dob" matInput [matDatepicker]="picker">
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                          </td>
                      </tr>
                  </table>

                  <table class="example-full-width" cellspacing="0">
                      <tr>
                          <td>
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>gender</mat-label>
                                  <!-- <mat-select [(value)]="selected"> -->
                                  <mat-select formControlName="gender">
                                      <mat-option value="Male">Male</mat-option>
                                      <mat-option value="Female">Female</mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </td>

                          <td>
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Interest Method</mat-label>
                                  <!-- <mat-select [(value)]="selected"> -->

                                  <mat-select formControlName="interest"
                                      name="loan_interest_method" id="inputLoanInterestMethod" required=""
                                      onchange="enableDisableMethod();">
                                      <mat-option *ngFor="let method of InterstMethods" value="{{ method.keyName }}">{{ method.name }}</mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </td>
                      </tr>
                  </table>
                  <table class="example-full-width" cellspacing="0">
                      <tr>
                          <td>
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>City</mat-label>
                                  <input formControlName="city" matInput placeholder="Ex. San Francisco">
                              </mat-form-field>
                          </td>
                          <td>
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>State</mat-label>
                                  <input formControlName="state" matInput placeholder="Ex. California">
                              </mat-form-field>
                          </td>
                          <td>
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Postal Code</mat-label>
                                  <input formControlName="postal_code" matInput #postalCode maxlength="5"
                                      placeholder="Ex. 94105" value="94043">
                                  <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                              </mat-form-field>
                          </td>
                      </tr>

                  </table>

                  <table class="example-full-width" cellspacing="0">
                      <tr>
                          <td>
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Working Status</mat-label>
                                  <!-- <mat-select [(value)]="selected"> -->
                                  <mat-select formControlName="working_status">
                                      <mat-option *ngFor="let item of workingStatus" value="{{ item.keyName }}">{{ item.name }} </mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </td>
                      </tr>
                  </table>
                  <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Description</mat-label>
                      <textarea matInput formControlName="description"
                          placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
                  </mat-form-field>

                  <table class="example-full-width" cellspacing="0">
                      <tr>
                          <td>
                              <mat-label>Signature</mat-label>
                              <canvas #canvas (touchstart)="startDrawing($event)"></canvas>

                              <button (click)="clearPad()">Clear</button>
                              <button (click)="saveSign()">Save</button>
                          </td>

                      </tr>

                  </table>
                  <div class="full-width">
                      <button mat-raised-button id="login" color="primary" [disabled]="requestForm.invalid || loading"
                          (click)="save()">Save</button>
                  </div>
              </mat-card-content>
          </mat-card>
      </form>
  </div>
</div>