<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>About</h2>

        <p>
         H.D lahiru samishka
        </p>
        <p>
        ICBT Student 
        </p>

        <p>
         
        </p>

        <p>
          Github_<a href="https://github.com/lahirusamishka/" target="_blank"
            aria-label="onthecode (opens in a new tab)"> link</a>.
        </p>

      </mat-card-content>
    </mat-card>

  </div>
</div>