<div class="" fxLayout="row" fxLayoutAlign="center none">

    <div fxFlex="95%">

        <mat-card *ngIf="loanObj">
            <mat-card-content>
                <h4>{{ loanObj.borrower.loan_product | titlecase}}</h4>
                <h5>{{ loanObj.borrower.title | titlecase}} {{ loanObj.borrower.first_name | titlecase}} {{
                    loanObj.borrower.middle_name | titlecase }} {{ loanObj.borrower.last_name | titlecase }} (Micro
                    Presonal Loands)</h5>


                <h5>Micro Bank Matara
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip color="primary" selected>Open</mat-chip>
                        <button (click)="refreshLoan()" class="flat-right" mat-stroked-button color="primary">
                            <mat-icon aria-hidden="false" aria-label="Example print icon">autorenew
                            </mat-icon>
                        </button>
                        &nbsp;
                        <h6 *ngIf="loading">Loarding.... </h6>
                        <h6 *ngIf="!loading">Everything up-to-date</h6>
                    </mat-chip-list>
                </h5>
                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

                    <div fxFlex="100%" fxFlex.sm="95%" fxFlex.xs="95%">
                        <mat-list role="list" *ngIf="loanObj">
                            <mat-list-item role="listitem">Loan Amount : {{ loanObj.principalAmount }}</mat-list-item>
                            <!-- <mat-list-item role="listitem">Outstanding : {{ countAll*installment | number:'1.2-2' }}</mat-list-item> -->
                            <mat-list-item role="listitem">Loan Period : {{ loanObj.loanDuration }} Months
                            </mat-list-item>
                            <mat-list-item role="listitem">Interset Rate : {{ loanObj.loanInterestAmount }}%
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <div fxFlex></div>

                </div>
            </mat-card-content>
        </mat-card>
        <br>
        <mat-card>
            <mat-card-content>
                <h6>Next Up</h6>
                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                    <div fxFlex="100%" fxFlex.sm="95%" fxFlex.xs="95%">
                        <mat-list role="list">
                            <mat-list-item role="listitem">Next Installment : {{ installment | number:'1.2-2'}}
                            </mat-list-item>
                            <!-- <mat-list-item role="listitem">Overdue Amount: 0.00</mat-list-item> -->
                        </mat-list>
                    </div>
                    <div fxFlex></div>
                </div>
            </mat-card-content>
        </mat-card>
        <br>

        <mat-card>
            <mat-card-content>
                <h6>payments</h6>
                <mat-list role="list">
                    <mat-list-item *ngFor="let item of allInstallment; let i = index" role="listitem">

                        <div *ngIf="item.status==true">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput type="text" disabled value="{{ item.date }}" placeholder="date"
                                    value="">
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input style="color: darkcyan;" matInput type="text" disabled
                                    value="Paid - Rs. {{ item.amount }}" placeholder="date" value="">
                            </mat-form-field>
                            <!-- <h5 style="background-color: chartreuse;color: black;">Installment {{ item.id }} is Paid</h5> -->
                        </div>
                        <div *ngIf="item.status!=true">

                            <mat-form-field appearance="fill">
                                <mat-label>Choose a date</mat-label>
                                <input disabled value="" matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            &nbsp;&nbsp;
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Rs.{{ installment | number:'1.2-2' }}- Installment</mat-label>
                                <input disabled matInput type="number" placeholder="Amount" value="Sushi">
                            </mat-form-field>&nbsp;&nbsp;


                        </div>

                    </mat-list-item>

                </mat-list>
            </mat-card-content>
        </mat-card>


    </div>
</div>