<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <!-- <app-x-table [inputData]="dataSource" [tableName]="'View Borrowers'" [addCheckBox]="true" ></app-x-table> -->

      <mat-card-content>
        <h2>Guaranter

          <button [routerLink]="['/borrower/new']" routerLinkActive="router-link-active" mat-stroked-button
            color="primary" (click)="createNewBorrower()">
            <mat-icon aria-hidden="false" aria-label="Example add icon">add
            </mat-icon>New
          </button>

          &nbsp;
          <button *ngIf="addCheckBox" (click)="print()" mat-stroked-button color="accent" [disabled]="selected3.length==0?true:false">
            <mat-icon aria-hidden="false" aria-label="Example print icon">print
            </mat-icon>Export Data
          </button> &nbsp;
          <button *ngIf="addCheckBox" (click)="delete()" mat-stroked-button color="warn" [disabled]="selected3.length==0?true:false">
            <mat-icon aria-hidden="false" aria-label="Example delete icon">delete
            </mat-icon>Delete
          </button> &nbsp;

        </h2>
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container *ngFor="let column of displayedColumns" matColumnDef='{{ column }}'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column=='All'?true:false">
              <!-- <mat-checkbox [checked]="column.check==true?true:false" *ngIf="column=='All'?true:false"></mat-checkbox>&nbsp; -->
              <mat-checkbox [checked]="isChecked()" [indeterminate]="isIndeterminate()"
                (change)="$event ? toggleAll($event) : null" *ngIf="column=='All'?true:false"></mat-checkbox>&nbsp;
              {{ column | titlecase }}
            </th>
            <td mat-cell *matCellDef="let element">
              <!-- <mat-checkbox [checked]="column.check==true?true:false" *ngIf="element[column]==''?true:false">
        </mat-checkbox> -->
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggle(element, $event) : null"
                [checked]="exists(element)" *ngIf="element[column]==''?true:false">
              </mat-checkbox>


              <a [routerLink]="['/borrower/'+element.id]" routerLinkActive="router-link-active">
                <mat-icon *ngIf="element[column]==' '?true:false" aria-hidden="false"
                  aria-label="Example mode_edit icon">
                  mode_edit</mat-icon>
              </a>&nbsp;&nbsp;


              {{ element[column] }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
      <mat-paginator *ngIf="paginator" [pageSizeOptions]="[2,10, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>


    </mat-card>
  </div>
</div>